.admin-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.register-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.admin-table th, .admin-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.admin-table th {
  background-color: #f2f2f2;
}

.new-badge {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 12px;
  margin-left: 10px;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.search-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #777;
}

/* Approve button styles */
.approve-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.approve-btn.pending {
  background-color: #FF9500;
  color: white;
}

.approve-btn.approved {
  background-color: #4CAF50;
  color: white;
}

/* Disabled button style */
.approve-btn:disabled {
  background-color: #949292;
}

  .approve-btn:disabled {
    background-color: #4CAF50; /* Disabled 상태일 때도 녹색 */
    cursor: not-allowed; /* Disabled 상태일 때 커서 모양 변경 */
  }
  
  /* Filter 버튼 스타일 */
  .filter-buttons {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .filter-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .all-btn {
    background-color: #f0f0f0;
    color: black;
  }
  
  .pending-btn {
    background-color: #ffba3b; /* 주황색 */
    color: white;
  }
  
  .approved-btn {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Hover 상태에서 색상 변경 */
  .all-btn:hover {
    background-color: #d6d6d6;
  }
  
  .pending-btn:hover {
    background-color: #ffc219;
  }
  
  .approved-btn:hover {
    background-color: #22c02a;
  }
  
  /* 페이지네이션 버튼 스타일 */
  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #007bff;
    background-color: #fff;
    color: #007bff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .pagination button:hover {
    background-color: #007bff;
    color: white;
  }
  
  .pagination button:disabled {
    background-color: #e0e0e0;
    color: #949292;
    cursor: not-allowed;
  }
  
