.notice-page {
  padding: 20px;
}

h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.register-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #45a070;
}


.notice-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.notice-table th, .notice-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.notice-table th {
  background-color: #f2f2f2;
}

.new-badge {
  background-color: red;
  color: white;
  padding: 1px 2px;
  border-radius: 5px;
  font-size: 11px;
  margin-left: 5px;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.search-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #45a070;
}

.message-container {
  padding: 20px;
}

.message-list {
  margin-bottom: 20px;
}

.message-item {
  margin-bottom: 20px;
}

.message-item div {
  margin: 5px 0;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.close-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #0056b3;
}
